<div class="row">
  <div class="col-xs-6">
    <!--<app-actor-edit></app-actor-edit>-->
    <h1> Favorites</h1>
    <hr>
  <div class="list-group">
    <a class="list-group-item"
       style="cursor: pointer"
       *ngFor="let actor of actors; let i = index"
       (click)="onEditActor(i)"

    >
      Name: {{ actor.name }}<br> Description: {{ actor.description }}
    </a>
  </div>
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="http://www.filmsite.org/posters/taxidriver.jpg" style="height: 600px; width: 500px; margin-left: auto; margin-right: auto;">
    <br>
    <button type="button" class="btn btn-danger" style="margin: 0 auto; display: block;">Remove from favorites <span class="glyphicon glyphicon glyphicon-remove"></span> </button>
  </div>
</div>

