
<nav class="navbar navbar-default" style="background: lightgrey;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="brand-image" alt="website logo" src="http://www.omdb.org/images/layout/omdb-logo.png" style="height: 100%;"/>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/movies"> Movies</a></li>
        <li routerLinkActive="active"><a routerLink="/actor-list">Favorites</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li class="dropdown" appDropdown>-->
          <!--<a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--&lt;!&ndash;<li><a style="cursor: pointer;">Save Data</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a style="cursor: pointer;">Fetch Data</a></li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</li>-->
        <li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
